@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: var(--primary);
  color: var(--foreground);
}

:root {
  --primary: #3ecf90;
  --background: #f3f3f3;
  --foreground: #121212;
  --secondary: #374151;
}

.grid_background {
  @apply absolute inset-0 -z-10 h-full w-full bg-background bg-[linear-gradient(to_right,#8080802b_1px,transparent_1px),linear-gradient(to_bottom,#8080802b_1px,transparent_1px)] bg-[size:90px_100px];
}

.bg_gradient {
  @apply absolute left-0 right-0 top-0 bottom-0 -z-10 m-auto h-[350px] w-[350px] rounded-full bg-primary opacity-20 blur-[100px];
}

.layout {
  @apply w-full max-w-3xl mx-auto px-4 md:px-6;
}
